.cta-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem 5rem;
    padding: 0 2rem;
    border-top: 1px solid rgb(184, 184, 184);
    max-width: var(--max-width);
    margin: 0 auto 0;

    .cta-btn {
        border-radius: 1rem;
        transition: 0.3s;
        
        &:hover {
            box-shadow: 2px 2px 4px rgb(206, 206, 206);
            scale: 1.01;
        }

        a {

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

@media (min-width: 768px) {
    .cta-buttons {
        flex-direction: row;
        padding: 1rem 5rem;
        gap: 5rem;

        .cta-btn {
            max-height: 15rem;
        }
    }
}